body{
    background-color: #005926 ;
    color: #00FF3A;
}
header{
    background-color: #00401B ;
    color: white ;
}
section{
    background-color: #00401B ;
    color: white ;
}
footer{
    background-color: #00401B ;
    color: white ;
}
    